@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf');
    font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
}
:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;
    --fonte-padrão: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', Arial, cursive;
    --fonte-android:'Android', cursive;
}

body{
    background-color:var(--cor0);
    font-family: var(--fonte-padrão);
}
a.externo::after{
    content: '\1F517';
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    max-height: 200px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
header > h1{
    color:white;
    font-family: var(--fonte-destaque);
    font-size: 2.4em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.545);
}
header p{
    font-family: var(--fonte-padrão);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}
nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.375);
}
nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration:0.5s;
}
nav > a:hover{
    background-color: var(--cor3);
    border-radius: 5px;
    color: var(--cor5);
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    padding: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.614);
    margin-bottom: 1rem;
    border-radius: 0 0 10px 10px;
}
main strong{
    color: var(--cor4);
    font-weight: bold;
}
main a{
    text-decoration: none;
    background-color: var(--cor2);
    border-radius: 3px;
    color: var(--cor4);
    padding: 2px 6px;
    transition-duration: 0.5s;
}
main a:hover{
    text-decoration: underline;
    font-weight: bold;
    color:var(--cor5);
    background-color: var(--cor0);
    padding: 3px 8px;
}
main img{
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
main h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}
main h2{
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.3em;
    color: var(--cor4);
    background-image: linear-gradient(to right,var(--cor2,rgba(255, 0, 0, 0)));
    text-indent: 8px;
}
div.video{
    background-color: var(--cor5);
    margin: 0px -1rem;
    padding: 0.5rem 1rem;
    padding-bottom: 57%;
    position: relative;
}
div.video>iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    background-color: var(--cor1);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.521);
    border: 2px solid var(--cor4);
    padding: 1.5rem;
    border-radius: 14px;
}
aside > ul{
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    columns: 2;
}
aside>h3{
    background-color: var(--cor4);
    border-radius: 10px 10px 0px 0px;
    color: white;
    padding: 1rem;
    margin: -1.5rem -1.5rem 0 -1.5rem;
}
footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8;
    padding: 1rem;
}
footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
    transition-duration: 0.5s;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
    background-color: var(--cor4);
    border-radius: 3px;
    padding: 3px;
}