@charset "UTF-8";

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    background-color: lightgray;
    height: 100vh;
    width: 100vw;
}

header{
    background-color: gray;
    color: white;
    padding: 1rem;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.581);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header>h1{
    /*border: 1px dashed black;*/
    flex: 0 0 200px;
    text-shadow:  3px 3px 0px black;
}

header>nav{
    /*border: 1px dashed black;*/
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

header > nav > a{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: 0.5s;
}

header > nav > a:hover{
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 15px;
}

main{
    background-color: white;
    width: 80vw;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.605);
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
}

main > p{
    text-align: justify;
    text-indent: 1rem;
}

@media screen and (max-width:500px) {
    header, header > nav{
        flex-flow: column nowrap;
    }
    header > h1{
        flex-basis: 50px;
    }
    header > nav > a{
        width: 90vw;
    }
}