@charset "UTF-8";
/*
    em HTML é id = em css é #
    em HTML é class = em CSS é .
*/

body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin-left: 1rem;
}
#principal{
    text-align: center;
    background-color: gray;
    color: white;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 10px;
}
.HTML{
    color: orangered;
}
.CSS{
    color: rgb(0, 102, 255);
}
.básico{
    color: green;
}
.intermediário{
    color: rgb(171, 171, 0);
}
.avançado{
    color: darkred;
}
.destaque{
    text-shadow: 1px 2px rgba(0, 0, 0, 0.531);
}
section{
    background-color: white;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
}