@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right,#dad7cd,#a3b18a);
    height: 100%;
    background-attachment: fixed;
}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #344e41;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #3a5a40;
    text-align: center;
    text-shadow: 1px 1px 2px #263c2a;
}
h2{
    color: #588157;
}
p{
    text-align: justify;
}